@()

<div id="modal-content">
    <p>※未完成のため手書きはできますが、文字として認識されません</p>
    <div style="float:left;">
        <canvas id="canvas" width="300" height="300"></canvas>
    </div>
    <div style="float:left;">
        <table>
            <tbody>
                <tr id="moji1"></tr>
                <tr id="moji2"></tr>
                <tr id="moji3"></tr>
                <tr id="moji4"></tr>
                <tr id="moji5"></tr>
            </tbody>
        </table>
    </div>
    <div style="clear:both;">
        <input type="text" class="textarea" id="tegaki-text"/>
    </div>
    <button class="btn-clear" id="tegaki-clear">文字をクリア</button>
    <p><a id="modal-save" class="button-link">保存して閉じる</a></p>
    <p><a id="modal-close" class="button-link">キャンセル</a></p>
</div>

<div id="modal-overlay"></div>