@(members: List[models.Tables.MemberTableRow], tweets: List[models.Tables.TweetTableRow], follows: List[models.Tables.FollowTableRow])

@main("デバッグ表示") {

    <div class="row box">

        <div class="col-xs-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>メールアドレス</th>
                        <th>パスワード</th>
                        <th>作成日時</th>
                        <th>更新日時</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @* ユーザの一覧をループで出力 *@
                    @members.map { member =>
                        <tr>
                            <td>@member.memberId</td>
                            <td>@member.mailAddress</td>
                            <td>@member.encryptedPassword</td>
                            <td>@member.timestampCreated</td>
                            <td>@member.timestampUpdated</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <hr/>

        @parts.tweets(tweets)


        <div class="col-xs-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>フォローしているユーザー</th>
                        <th>フォローされているユーザー</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @* ユーザの一覧をループで出力 *@
                    @follows.map { follow =>
                        <tr>
                            <td>@follow.memberId</td>
                            <td>@follow.followedId</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
