@(loginForm: Form[controllers.Application.LoginForm], recents: List[models.Tables.TweetTableRow])

@import helper._

@main("Welcome to Play") {

    <div class="row" style="background-image:url("https://farm8.staticflickr.com/7351/16186049017_7c441ffa78_o_d.jpg")">
        <div class="col-md-8 box">

            <div style="padding: 8px">
                <p>最新のツイート</p>
            </div>
            @parts.tweets(recents)

        </div>

        <div class="col-md-4">

            @form(action = routes.Application.authenticate) {
                    <div class="box">
                        <p>ログイン</p>
                        <div>
                        @inputText(loginForm("name"), 'label -> "名前")
                        </div>
                        <div>
                        @inputPassword(loginForm("password"), 'label -> "パスワード")
                        </div>


                        <div>
                            <input type="submit" value="保存" class="btn btn-success"/>
                        </div>
                    </div>
            }

            <div class="box">
                <p>アカウントを作っていない方は</p>
                @form(action = routes.Application.registry) {
                    <input type="submit" value="新規登録" class="btn btn-success"/>
                }
            </div>

        </div>

    </div>
}
