@(loginForm: Form[controllers.Application.LoginForm])

@import helper._

@main("Welcome to Play") {

    @form(action = routes.Application.authenticate, args = 'class -> "container", 'role -> "form") {
        <fieldset>
            <p>ログイン</p>
            <div class="form-group">
            @inputText(loginForm("name"), 'label -> "名前")
            </div>
            <div class="form-group">
            @inputPassword(loginForm("password"), 'label -> "パスワード")
            </div>


            <div>
                <input type="submit" value="保存" class="btn btn-success"/>
            </div>
        </fieldset>
    }

    <p>アカウントを作っていない方は</p>
    @form(action = routes.Application.registry, args = 'class -> "container", 'role -> "form") {
        <input type="submit" value="新規登録" class="btn btn-success"/>
    }

}
