@(user: models.Tables.MemberTableRow, tweets: List[models.Tables.TweetTableRow], recommended: List[models.Tables.MemberTableRow], following: List[models.Tables.MemberTableRow], tweetForm: Form[controllers.Tweets.TweetForm])

@import helper._

@main("main tweets view"){

    <script src="@routes.Assets.at("javascripts/tweetcount.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/follow.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/canvas.js")" type="text/javascript"></script>

    @parts.tegaki()

    <div class="row">
        <div class="col-md-9">

            <div class="box">

                @form(action = routes.Tweets.tweet()) {
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-9">
                                @textarea(tweetForm("tweet"), 'label -> "つぶやく", 'id -> "tweetarea", 'class -> "tweetarea", 'rows -> "5")
                                <input type="hidden" value="@tweetForm("memberId").value" name="memberId" />
                                <div id="tweetcount">0</div>
                            </div>
                            <div class="col-md-3">
                                <input type="submit" value="送信" class="btn btn-success" id="button-tweet"/>
                            </div>
                        </div>
                    </fieldset>
                }

                <p><a id="modal-open" class="button-link">手書き</a></p>

            </div>

            <div class="box">
                <p>ツイート</p>
                @parts.tweets(tweets)
            </div>

        </div>
        <div class="col-md-3">

            <div id="account-info" class="box">

                <p>あなたのアカウント</p>
                <p>@user.memberId</p>
                <p>@user.mailAddress</p>

                @form(action = routes.Application.logout) {
                    <div>
                        <input type="submit" value="ログアウト" class="btn btn-success"/>
                    </div>
                }

            </div>

            <div id="recommended-user" class="box">
                <p>おすすめのユーザー</p>
                <table class="table table-hover" id="recommended-user-table">
                    <tbody>
                    @recommended.map { member =>
                        <tr>
                            <td>@member.memberId</td>
                            <td width="250"><button class="follow-button" id="@member.memberId" data-toggle="popover" data-trigger="focus" title="@(member.memberId + " をフォローしました")" data-content="follow">follow</button></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

            <div id="following-user" class="box">
                <p>フォローしているユーザー</p>
                <table class="table table-hover" id="following-user-table">
                    <tbody>
                    @following.map { member =>
                        <tr>
                            <td>@member.memberId</td>
                            <td width="250">
                                <button class="unfollow-button" id="@member.memberId" data-toggle="popover" data-trigger="focus" title="@(member.memberId + " をアンフォローしました")" data-content="unfollow">unfollow</button>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

}